#EXTM3U
#EXTINF:-1 tvg-logo="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuDddOyuTU6scl5H9uvv95nBmG3ZxxdIVIhw8BMlrWK3OSxIf0"  group-title="LIVEALL FILMES HD" aspect-ratio="16:9" ,Importante!Todos os filmes são revisados antes de serem postados.
http://flixanity.watch/files/default_universal.mp4
#EXTINF:-1 tvg-logo="https://4.bp.blogspot.com/-pR7VugPmavc/WAgCmFh9kiI/AAAAAAAAKyk/vm_EwrYVcb0FdglA3uBgyXIwvQSH4juYQCEw/s320/trolls_uma_grande_aventura.jpg" group-title="Lancamentos Dublados", TROLLS - Dublado
http://vd.ec.cx/vd/dd/RC/RCFServer3/ondemand/TRLS.mp4
#EXTINF:-1 tvg-logo="https://4.bp.blogspot.com/-4kt7W-m8eC0/WIsSgGPloVI/AAAAAAAAFrc/Ja8inh0du9MOuCX1ux1r4Ph3Ng8c4ox0QCLcB/s400/CAPA.png" group-title="Lancamentos Dublados", SACRIFICIO - Dublado
http://vd.ec.cx/vd/dd/RC/RCFServer3/ondemand/SCRFC.mp4
